a {
    color: green;
}

h2 {
    padding: 50px;
    margin: 20px;
    border-radius: 1px;
    border-style: dashed;
    text-align: center;
}

#test-1 {
    color: orange;
}

.test-2 {
    font-size: 40px;
}